---
import Layout from "./Layout.astro";
---

<Layout title="Page not found" description="Page doesn't exisit">
	<div class="text-white w-full text-center centered opacity-80">
		<h1 class="md:text-5xl text-3xl mb-3 font-bold">
			Well, this is <span class="text-blue-300">awkward...</span>
		</h1>
		<h2 class="md:text-2xl text-xl">
			Nothing seems to be here <a class="underline text-blue-300" href="/"
				>Go Back Home</a>
		</h2>
	</div>
</Layout>

<style>
	.centered {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
</style>
