---
import Layout from "./Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout description="Hamza's personal website" title="hamza">
	<header class="mt-10">
		<div class="flex items-end gap-3">
			<img
				class="w-14 rounded-full border border-white"
				src="https://avatars.githubusercontent.com/u/72913359?v=4"
				alt="profile pic"
			/>
			<h1 class="font-zain text-3xl text-white">Hamza|Rashid</h1>
		</div>
	</header>
	<p class="my-5">
		Hey there! I am Hamza Rashid, you can call me <span
			class="italic text-white">hamza</span
		>.
	</p>
	<p class="my-5">
		I am a self-taugh developer. I like minimalism, <span
			class="text-white">neovim</span
		>
		and <span class="text-white">FOSS</span>. I'm good at doing full-stack development. I also love doing low level programming, slowly getting better at
		it.
	</p>
	<div class="w-40 my-8 h-[.1rem] bg-white opacity-20"></div>
	<div class="flex gap-3 items-center">
		<h2 class="text-2xl text-white">
			<span class="text-dblue">(Some of my)</span> Projects
		</h2>
		<a href="/stuff">
			<svg class="w-4" viewBox="0 0 15 15">
				<path
					fill="currentColor"
					d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414"
				></path>
			</svg>
		</a>
	</div>
	<p class="my-3">
		You can find all of them <a href="https://github.com/Hamza12700?tab=repositories">here.</a>
	</p>
	<div class="flex md:flex-row flex-col items-start mt-7 gap-5">
		<ProjectCard
			link="My Personalized Development Environment (PDE) with Neovim"
			title="Neovim"
			desc="My Personalized Development Environment (PDE) with Neovim"
			tags={["neovim", "lua"]}
		/>
		<ProjectCard
			link="https://github.com/Hamza12700/drash"
			title="Drash"
			desc="Put files/directories into drash"
			tags={["linux", "cli", "tool"]}
		/>
		<ProjectCard
			link="https://github.com/Hamza12700/DotFiles"
			title="Dotfiles"
			desc="My dotfiles for Linux and Hyprland"
			tags={["linux", "arch"]}
		/>
	</div>
	<div class="w-40 my-8 h-[.1rem] bg-white opacity-20"></div>
	<p class="mb-3">
		You can find me on <a href="https://twitter.com/Hamza_Rash1d">twitter</a>, <a
			href="https://www.reddit.com/user/Hamza12700/">reddit</a
		> and <a href="https://github.com/hamza12700">github</a>
		. You can also contact me via my email address <a
			href="mailto:c44help@gmail.com"
		>
			c44help@gmail.com</a
		>.
	</p>
</Layout>

<style>
	a {
		color: white;
		text-decoration: underline;
	}
</style>
