---
import Layout from "./Layout.astro";
---

<Layout description="Hamza's personal website" title="hamza">
	<header class="mt-10">
		<div class="flex items-end gap-3">
			<img
				class="w-14 rounded-full border border-white"
				src="https://avatars.githubusercontent.com/u/72913359?v=4"
				alt="profile pic"
			/>
			<h1 class="font-zain text-3xl text-white">Hamza|Rashid</h1>
		</div>
	</header>
	<p class="my-5">
		Hey there! I am Hamza Rashid, you can call me <span
			class="italic text-white">hamza</span
		>.
	</p>
	<p class="my-5">
		I am a self-taugh programmer. I like minimalism, <span class="text-white"
			>neovim</span
		>
		and <span class="text-white">FOSS</span>. I'm good at doing frontend and
		backend
		<span class="italic text-white">(I like backend more)</span>. I also love
		doing low level programming, slowly getting better at it.
	</p>
	<div class="w-40 mt-8 h-[.1rem] bg-white opacity-20"></div>
</Layout>
